@import "tailwindcss";
@taailwind base;
@tailwind components;
@tailwind utilities;

@theme {
  --color-primary: #0f172a;   /* Slate 900 */
  --color-secondary: #1e293b; /* Slate 800 */
  --color-accent: #38bdf8;    /* Sky Blue */
  --font-sans: 'Inter', sans-serif;
}

body {
  font-family: var(--font-sans);
  /* Add these two lines: */
  background-color: var(--color-primary); 
  color: white; 
}

input, select, textarea {
  color: #111827 !important;        /* gray-900 */
  background-color: #ffffff !important;
}
::placeholder {
  color: #9ca3af !important;        /* gray-400 */
}